# ignore notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# ignore data/output files
*.tif
*.tiff
*.png
*.jpg
*.jpeg
*.csv
*.xlsx
*.xls
*.gpkg
*.aux.xml

# ignore old/copy notebooks
*_old.ipynb
*-Copy1.ipynb
*copy-1.ipynb